@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #f2eda0, #f28279, #f2845c, #f26a4b, #f22e2e);
  overflow: hidden !important;
}


/* Hearts Background Style */
.content-heart {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f2eda0;
}

svg {
  position: absolute;
  bottom: -150px;
  animation: animate 20s infinite linear;
}


svg:nth-child(1) {
  width: 100px;
  height: 100px;
  fill: #ff6699;
  left: 86%;
  animation-delay: 0s;
}

svg:nth-child(2) {
  width: 150px;
  height: 150px;
  fill: #ff6699;
  left: 12%;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

svg:nth-child(3) {
  width: 110px;
  height: 110px;
  fill: #ff6699;
  left: 70%;
  animation-delay: 5.5s;
}

svg:nth-child(4) {
  width: 120px;
  height: 120px;
  fill: #ff6699;
  left: 75%;
  animation-delay: 0s;
  animation-duration: 15s;
}

svg:nth-child(5) {
  width: 120px;
  height: 120px;
  fill: #ff6699;
  left: 65%;
  animation-delay: 0s;
}

svg:nth-child(6) {
  width: 100px;
  height: 100px;
  fill: #ff6699;
  left: 15%;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 1;
  }
}
/* Hearts Background Style End */

/* Sign-in Sign-up Style */
.container {
  position: relative;
  width: 70vw;
  height: 80vh;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fc523a;
  z-index: 6;
  left: -50%;
  transform: translateX(100%);
  transition: 1s ease-in-out;
}

.signin-signup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  min-width: 238px;
  padding: 0 10px;
}

form.sign-in-form {
  opacity: 1;
  transition: 0.5s ease-in-out;
  transition-delay: 1s;
}

form.sign-up-form {
  opacity: 0;
  transition: 0.5s ease-in-out;
  transition-delay: 1s;
}

.title {
  font-size: 35px;
  color: #fc523a;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  height: 50px;
  background: #f0f0f0;
  margin: 10px 0;
  border: 2px solid #fc523a;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.input-field i {
  flex: 1;
  text-align: center;
  color: #666666;
  font-size: 18px;
}

.input-field input {
  flex: 5;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #444444;
}

.eyecon {
  position: relative;
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
}

.form-link a:hover {
  text-decoration: underline;
}


.btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: #fca474;
  color: #000000;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background: #f22e2e;
}

.social-text {
  margin: 10px 0;
  font-size: 16px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444444;
  border: 1px solid #444444;
  border-radius: 50px;
  margin: 0 5px;
}

a {
  text-decoration: none;
}

.social-icon:hover {
  color: #f22e2e;
  border-color: #fc523a;
}

.panels-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.panel {
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  min-width: 238px;
  padding: 0 10px;
  text-align: center;
}

.left-panel {
  pointer-events: none;
}

.content {
  color: #ffffff;
  transition: 1.1s ease-in-out;
  transition-delay: 0.5s;
}

.panel h3 {
  font-size: 24px;
  font-weight: 600;
}


.panel img {
  height: 400px;
  width: 250px;
 }

.image {
  width: 100%;
  transition: 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.left-panel .image,
.left-panel .content {
  transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content {
  transform: translateX(0);
}

.account-text {
  display: none;
}
/* Sign-in Sign-up Style End*/

/* JS Animation */
.container.sign-up-mode::before {
   transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
}

.container.sign-up-mode .right-panel {
  pointer-events: none;
}

.container.sign-up-mode .left-panel {
  pointer-events: all;
}
/* JS Animation End */


/* Responsive Style */
@media screen and (max-width: 779px) {

  .container {
    width: 100vw;
    height: 100vh;
  } 

}

@media screen and (max-width: 635px) {

  form.sign-up-form {
    display: none;
  }

  form {
    width: 80%;
  }

  .container::before {
    display: none;
  }

  .container.sign-up-mode2 form.sign-up-form {
    display: flex;
    opacity: 1;
  }

  .container.sign-up-mode2 form.sign-in-form {
    display: none;
  }

  .panels-container {
    display: none;
  }

  .account-text {
    display: initial;
    margin-top: 30px;
  }

}

@media screen and (max-width: 320px) {

  form {
    width: 90%;
  }
  
}
/* Responsive Style End */

